<div class="fixed inset-0 z-50 flex items-center justify-center -mt-40 bg-white/70 dark:bg-gray-900/70">
  <div class="flex gap-1 font_outfit text-[24px] font-semibold text-[#5a4ef3] dark:text-[#A78BFA]">
    <div class="flex edu outfit">
      <span class="letter">e</span>
      <span class="letter">d</span>
      <span class="letter">u</span>
    </div>
    <span class=""></span>
    <div class="flex task outfit">
      <span class="letter">t</span>
      <span class="letter">a</span>
      <span class="letter">s</span>
      <span class="letter">k</span>
    </div>
  </div>
</div>