<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <div class="grid sm:grid-cols-1 items-center gap-6">
        <!-- Contenido -->
        <div class="flex flex-col gap-y-6 size-full p-8">
            <!-- Icono de candado -->
            <svg class="shrink-0 size-12 text-blue-600 mx-auto" xmlns="http://www.w3.org/2000/svg" width="24"
                height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round">
                <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
            </svg>

            <div class="text-center">
                <h3 class="block font-bold text-gray-800 text-2xl mb-4">Recuperar contraseña</h3>
                <p class="text-gray-600 mb-8 max-w-md mx-auto leading-relaxed">Ingresa tu correo electrónico y te
                    enviaremos un enlace para restablecer tu contraseña.</p>

                <!-- Formulario -->
                <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="mt-8 max-w-md mx-auto">
                    <div class="mb-6">
                        <input formControlName="email" type="email" id="email"
                            class="bg-gray-50 text-gray-900 text-sm rounded-lg block w-full p-3 border-0 focus:ring-2 focus:ring-blue-500 focus:outline-none"
                            placeholder="nombre@ejemplo.com">
                        @if (email?.touched && email?.invalid) {
                        <div class="text-sm text-red-600 mt-1">
                            @if (email?.errors?.['required']) {
                            <span>El correo es obligatorio.</span>
                            }
                            @if (email?.errors?.['email']) {
                            <span>Debe ingresar un correo válido.</span>
                            }
                        </div>
                        }
                    </div>

                    <button type="submit"
                        class="w-full px-4 py-2 text-white bg-blue-600 hover:bg-blue-700 font-medium rounded-md text-center transition-colors">
                        Enviar enlace de recuperación
                    </button>
                </form>

                <div class="mt-6 flex justify-center">
                    <a routerLink="/login"
                        class="px-4 py-2 text-blue-600 hover:text-blue-800 bg-blue-50 hover:bg-blue-100 rounded-md transition-colors text-center cursor-pointer">
                        Volver al Inicio de sesión
                    </a>
                </div>
            </div>
        </div>
        <!-- End Contenido -->
    </div>
</div>