<header
  class="flex flex-wrap sm:justify-start sm:flex-nowrap z-50 w-full bg-white text-sm py-3 sm:py-0 dark:bg-neutral-900">
  <nav class="max-w-[85rem] w-full mx-auto px-4 md:px-6 lg:px-8">
    <div class="relative sm:flex sm:items-center">
      <div class="flex items-center justify-between">
        <a class="flex-none font-semibold text-xl text-black focus:outline-hidden focus:opacity-80 dark:text-white"
          href="#" aria-label="Brand">EduTask</a>
        <div class="sm:hidden">
          <button type="button"
            class="hs-collapse-toggle p-2 inline-flex justify-center items-center gap-x-2 rounded-lg border border-gray-200 bg-white text-gray-800 shadow-2xs hover:bg-gray-50 focus:outline-hidden focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-transparent dark:border-neutral-700 dark:text-white dark:hover:bg-white/10 dark:focus:bg-white/10"
            id="hs-navbar-basic-usage-collapse" aria-expanded="false" aria-controls="hs-navbar-basic-usage"
            aria-label="Toggle navigation" data-hs-collapse="#hs-navbar-basic-usage">
            <svg class="hs-collapse-open:hidden shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24"
              height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round">
              <line x1="3" x2="21" y1="6" y2="6" />
              <line x1="3" x2="21" y1="12" y2="12" />
              <line x1="3" x2="21" y1="18" y2="18" />
            </svg>
            <svg class="hs-collapse-open:block hidden shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24"
              height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round">
              <path d="M18 6 6 18" />
              <path d="m6 6 12 12" />
            </svg>
          </button>
        </div>
      </div>

      <div id="hs-navbar-basic-usage"
        class="hidden hs-collapse overflow-hidden transition-all duration-300 basis-full grow sm:block"
        aria-labelledby="hs-navbar-basic-usage-collapse">
        <div class="flex flex-col gap-y-3 sm:gap-y-0 mt-5 sm:flex-row sm:items-center sm:justify-end sm:mt-0 sm:ps-5">
                    <div class="hs-dropdown relative inline-flex" data-hs-theme-switch>
            <button id="hs-theme-switcher" type="button"
              class="hs-dropdown-toggle flex justify-center items-center size-9 text-sm font-semibold rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700">
              <!-- Icono para el modo Claro (visible por defecto) -->
              <svg class="hs-dark-mode-active:hidden block size-4" xmlns="http://www.w3.org/2000/svg" width="24"
                height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round">
                <path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z" />
              </svg>
              <!-- Icono para el modo Oscuro (oculto por defecto, visible cuando .dark está activo) -->
              <svg class="hs-dark-mode-active:block hidden size-4" xmlns="http://www.w3.org/2000/svg" width="24"
                height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round">
                <circle cx="12" cy="12" r="4" />
                <path d="M12 2v2" />
                <path d="M12 20v2" />
                <path d="m4.93 4.93 1.41 1.41" />
                <path d="m17.66 17.66 1.41 1.41" />
                <path d="M2 12h2" />
                <path d="M20 12h2" />
                <path d="m6.34 17.66-1.41 1.41" />
                <path d="m19.07 4.93-1.41 1.41" />
              </svg>
            </button>

            <!-- Menú desplegable con las opciones -->
            <div
              class="hs-dropdown-menu hs-dropdown-open:opacity-100 mt-2 hidden z-10 opacity-0 transition-[margin,opacity] duration-200 bg-white shadow-md rounded-lg p-2 dark:bg-gray-800 dark:border dark:border-gray-700"
              aria-labelledby="hs-theme-switcher">

              <button type="button"
                class="w-full flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300"
                data-hs-theme-click-value="default">
                Claro (Default)
              </button>
              <button type="button"
                class="w-full flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300"
                data-hs-theme-click-value="dark">
                Oscuro
              </button>
              <button type="button"
                class="w-full flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300"
                data-hs-theme-click-value="auto">
                Sistema (Auto)
              </button>
            </div>
          </div>
          <a class="sm:p-2 font-medium text-blue-500 focus:outline-hidden" href="#" aria-current="page">Active</a>

          <div
            class="hs-dropdown [--strategy:static] sm:[--strategy:absolute] [--adaptive:none] sm:[--trigger:hover] [--auto-close:false] [--is-collapse:true] sm:[--is-collapse:false] ">
            <button id="hs-mega-menu" type="button"
              class="hs-dropdown-toggle sm:p-2 flex items-center w-full text-gray-600 font-medium hover:text-gray-400 focus:outline-hidden focus:text-gray-400 dark:text-neutral-400 dark:hover:text-neutral-500 dark:focus:text-neutral-500"
              aria-haspopup="menu" aria-expanded="false" aria-label="Mega Menu">
              Mega Menu
              <svg
                class="hs-dropdown-open:-rotate-180 sm:hs-dropdown-open:rotate-0 duration-300 ms-auto sm:ms-2 shrink-0 size-4"
                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="m6 9 6 6 6-6" />
              </svg>
            </button>

            <div
              class="hs-dropdown-menu sm:transition-[opacity,margin] sm:ease-in-out sm:duration-[150ms] hs-dropdown-open:opacity-100 opacity-0 w-full hidden z-10 sm:mt-3 top-full start-0 min-w-60 bg-white sm:shadow-md rounded-lg py-2 sm:px-2 dark:bg-transparent sm:dark:bg-neutral-800 sm:dark:border dark:border-neutral-700 dark:divide-neutral-700 before:absolute"
              role="menu" aria-orientation="vertical" aria-labelledby="hs-mega-menu">
              <div class="sm:grid sm:grid-cols-3">
                <div class="flex flex-col">
                  <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300 dark:focus:bg-neutral-700 dark:focus:text-neutral-300"
                    href="#">
                    Inicio
                  </a>

                </div>

                <div class="flex flex-col">
                  <a routerLink="/gestion-usuarios"
                    class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300 dark:focus:bg-neutral-700 dark:focus:text-neutral-300">
                    Gestión Usuarios
                  </a>

                </div>

                <div class="flex flex-col">
                  <a routerLink="/login"
                    class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300 dark:focus:bg-neutral-700 dark:focus:text-neutral-300">
                    Iniciar Sesión
                  </a>
                  <a routerLink="/register"
                    class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300 dark:focus:bg-neutral-700 dark:focus:text-neutral-300">
                    Regístrate
                  </a>
                </div>
              </div>
            </div>

          </div>

          <a class="sm:p-2 font-medium text-gray-600 hover:text-gray-400 focus:outline-hidden focus:text-gray-400 dark:text-neutral-400 dark:hover:text-neutral-500 dark:focus:text-neutral-500"
            href="#">Project</a>

          <!-- Menú Perfil -->
          @if(currentUser()) {
          <div class="hs-dropdown [--placement:bottom-right] relative inline-flex">
            <button id="hs-dropdown-account" type="button"
              class="hs-dropdown-toggle inline-flex items-center gap-x-2 text-sm font-medium rounded-full p-1 pe-2 bg-white text-gray-800 hover:bg-gray-50 focus:outline-none dark:bg-gray-800 dark:text-gray-300 dark:hover:bg-gray-700">
              <img [src]="currentUser()?.perfil || 'https://preline.co/assets/img/160x160/img1.jpg'"
                [alt]="currentUser()?.nombre" class="shrink-0 size-8 rounded-full object-cover">
              <span class="text-gray-600 font-medium hidden sm:block dark:text-gray-400">{{ currentUser()?.nombre
                }}</span>
              <svg class="hs-dropdown-open:rotate-180 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round">
                <path d="m6 9 6 6 6-6" />
              </svg>
            </button>

            <div
              class="hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 hidden min-w-60 bg-white shadow-md rounded-lg mt-2 z-50 dark:bg-gray-800 dark:border dark:border-gray-700"
              role="menu" aria-orientation="vertical" aria-labelledby="hs-dropdown-account">
              <div class="flex items-center gap-4 py-3 px-4 border-b border-gray-200 dark:border-gray-700">
                <img [src]="currentUser()?.perfil || 'https://preline.co/assets/img/160x160/img1.jpg'"
                  [alt]="currentUser()?.nombre" class="size-12 rounded-full object-cover">
                <div class="flex flex-col">
                  <p class="text-sm text-gray-500 dark:text-gray-400">Sesión iniciada como</p>
                  <p class="text-sm font-medium text-gray-800 dark:text-white">{{ currentUser()?.nombre }} {{
                    currentUser()?.apellido }}
                  </p>
                  <p class="text-sm font-medium text-gray-500 dark:text-gray-400">{{ currentUser()?.rol }}</p>
                </div>
              </div>
              <div class="p-1 space-y-0.5">
                <a routerLink="/mi-perfil" class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-700 cursor-pointer">
                  <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2" />
                    <circle cx="12" cy="7" r="4" />
                  </svg>
                  Ver Perfil
                </a>
                <a (click)="logOut()"
                  class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 cursor-pointer dark:text-gray-300 dark:hover:bg-gray-700">
                  <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="m16 17 5-5-5-5" />
                    <path d="M21 12H9" />
                    <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" />
                  </svg>
                  Cerrar sesión
                </a>
              </div>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </nav>
</header>
