<div id="hs-pro-sidebar" class="hs-overlay [--auto-close:md]
hs-overlay-open:translate-x-0
-translate-x-full transition-all duration-500 ease-out transform
w-65 hs-overlay-minified:w-13 overflow-hidden
hidden
fixed inset-y-0 z-60 start-0 bg-[#fff]
md:block md:translate-x-0 md:end-auto md:bottom-0" role="dialog" tabindex="-1" aria-label="Sidebar">

  <div class="relative flex flex-col h-full max-h-full font_outfit">
    <!-- Header -->
    <header class="py-4 px-4 pb-4 flex justify-between items-center gap-x-2">
      <div class="-ms-2 flex items-center gap-x-1">
        <div
          class="md:hs-overlay-minified:hidden flex items-center gap-x-4 min-h-[40px] transition-all duration-400 ease-out">
          <!-- Icono con fondo redondeado -->
          <a class="shrink-0 bg-[#f9f9fe] inline-flex justify-center items-center p-2.5 py-2.5 rounded-xl focus:outline-none
          shadow-[0_8px_25px_rgba(0,0,0,0.04)]
          shadow-[#e2e3fa]
          hover:shadow-xl
          hover:shadow-[#e2e3fa]
          transition-all duration-300 ease-in-out hover:scale-105" href="https://github.com/Eliel181/edu-task"
            target="_blank" rel="noopener noreferrer" aria-label="EduTask">
            <img class="w-5 h-4 md:w-6 md:h-5 transition-transform duration-300 hover:scale-110"
              src="https://res.cloudinary.com/mrpotato/image/upload/v1758856602/Icon_EduTask_nggv11.webp"
              alt="Icon de EduTask" />
          </a>

          <!-- Título separado -->
          <p
            class="text-[#5956e9] outfit text-nowrap transition-all duration-500 ease-out opacity-100 hs-overlay-minified:opacity-0 hs-overlay-minified:scale-95">
            edu task
          </p>
        </div>

        <div
          class="hidden md:hs-overlay-minified:flex items-center justify-center min-h-[40px] transition-all duration-400 ease-out opacity-0 hs-overlay-minified:opacity-100 hs-overlay-minified:scale-100 scale-90">

          <!-- Sidebar Toggle -->
          <button type="button"
            class="hidden md:hs-overlay-minified:flex justify-center items-center flex-none gap-x-3 p-1.5 outfit-2 text-[#5956e9] rounded-xl hover:bg-[#eeeefb] disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-gray-100 transition-all duration-300 ease-out hover:scale-105"
            aria-haspopup="dialog" aria-expanded="true" aria-controls="hs-pro-sidebar" aria-label="Minify navigation"
            data-hs-overlay-minifier="#hs-pro-sidebar">
            <svg class="w-5 h-5 transition-transform duration-300 hover:rotate-12" xmlns="http://www.w3.org/2000/svg"
              width="24" height="24" viewBox="0 0 24 24">
              <g fill="currentColor">
                <path d="M13 21h6a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2h-6z" />
                <path fill-rule="evenodd"
                  d="M11 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h6zm-5.707 7.707a1 1 0 0 1 1.414-1.414l2 2a1 1 0 0 1 0 1.414l-2 2a1 1 0 0 1-1.414-1.414L6.586 12z"
                  clip-rule="evenodd" />
              </g>
            </svg>
            <span class="sr-only">Sidebar Toggle</span>
          </button>
          <!-- End Sidebar Toggle -->
        </div>
      </div>

      <!-- Sidebar Toggle -->
      <button type="button"
        class="hidden md:hs-overlay-minified:hidden md:flex justify-center items-center flex-none gap-x-3 p-1.5 outfit-2 text-[#9897c9] rounded-xl hover:bg-[#eeeefb] disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-[#eeeefb] transition-all duration-300 ease-out hover:scale-105"
        aria-haspopup="dialog" aria-expanded="true" aria-controls="hs-pro-sidebar" aria-label="Minify navigation"
        data-hs-overlay-minifier="#hs-pro-sidebar">
        <svg class="w-5 h-5 transition-transform duration-300 hover:rotate-180" xmlns="http://www.w3.org/2000/svg"
          width="24" height="24" viewBox="0 0 24 24">
          <g fill="currentColor">
            <path d="M13 21h6a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2h-6z" />
            <path fill-rule="evenodd"
              d="M11 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h6zm-2.293 7.707a1 1 0 0 0-1.414-1.414l-2 2a1 1 0 0 0 0 1.414l2 2a1 1 0 0 0 1.414-1.414L7.414 12z"
              clip-rule="evenodd" />
          </g>
        </svg>
        <span class="sr-only">Sidebar Toggle</span>
      </button>
      <!-- End Sidebar Toggle -->
      <!-- Sidebar Toggle - Botón Close -->
      <button type="button"
        class="flex md:hidden justify-center items-center gap-x-3 size-7 bg-[#ededfb] text-xs text-[#9998c5] hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-gray-100 rounded-xl transition-all duration-300 ease-out hover:scale-105"
        data-hs-overlay="#hs-pro-sidebar" aria-expanded="true">
        <svg class="shrink-0 size-3.5 transition-transform duration-300 hover:rotate-90"
          xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M18 6 6 18" />
          <path d="m6 6 12 12" />
        </svg>
        <span class="sr-only">Close</span>
      </button>
      <!-- End Sidebar Toggle -->
    </header>
    <!-- End Header -->

    <div class="mb-5 px-2.5 mt-3 flex flex-col gap-y-5">
      <!-- List -->

      <ul class="flex flex-col gap-y-0.5">

        @if (currentUser()?.rol === 'Admin') {
        <li>
          <a routerLink="/administracion" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
            class="group relative w-full flex items-center gap-3 pl-8 hs-overlay-minified:pl-2.5 py-2 px-2 outfit-2 text-[#9897C9] rounded-lg before:absolute before:top-1/2 before:-start-2.5 before:rounded-e-full before:w-[4px] before:h-6 before:-translate-y-1/2 before:bg-[#5956e9] before:opacity-0 before:transition-all before:duration-300 hover:before:opacity-100 transition-all duration-300 ease-out hover:translate-x-1 hover:bg-[#f9f9fe]">
            <span
              class="-ms-[5px] flex shrink-0 justify-center items-center size-5 transition-all duration-300 group-hover:scale-110 group-hover:text-[#5956e9]">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="currentColor" fill-rule="evenodd"
                  d="M2.335 7.875c-.54 1.127-.35 2.446.03 5.083l.278 1.937c.487 3.388.731 5.081 1.906 6.093S7.447 22 10.894 22h2.212c3.447 0 5.17 0 6.345-1.012s1.419-2.705 1.906-6.093l.279-1.937c.38-2.637.57-3.956.029-5.083s-1.691-1.813-3.992-3.183l-1.385-.825C14.2 2.622 13.154 2 12 2s-2.199.622-4.288 1.867l-1.385.825c-2.3 1.37-3.451 2.056-3.992 3.183M8.25 18a.75.75 0 0 1 .75-.75h6a.75.75 0 0 1 0 1.5H9a.75.75 0 0 1-.75-.75"
                  clip-rule="evenodd" />
              </svg>
            </span>
            <span
              class="truncate hs-overlay-minified:opacity-0 transition-all duration-500 ease-out opacity-100 group-hover:translate-x-1">Dashboard</span>
          </a>
        </li>

        <li>
          <a routerLink="gestion-usuarios" routerLinkActive="active"
            class="group relative w-full flex items-center gap-3 pl-8 hs-overlay-minified:pl-2.5 py-2 px-2 outfit-2 text-[#9897C9] rounded-lg before:absolute before:top-1/2 before:-start-2.5 before:rounded-e-full before:w-[4px] before:h-6 before:-translate-y-1/2 before:bg-[#5956e9] before:opacity-0 before:transition-all before:duration-300 hover:before:opacity-100 transition-all duration-300 ease-out hover:translate-x-1 hover:bg-[#f9f9fe]">
            <span
              class="-ms-[5px] flex shrink-0 justify-center items-center size-5 transition-all duration-300 group-hover:scale-110 group-hover:text-[#5956e9]">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="currentColor"
                  d="M9 13c-1.915 0-3.603.965-4.792 2.245c-1.182 1.273-1.958 2.948-1.958 4.505c0 .414.336.75.75.75h12a.75.75 0 0 0 .75-.75c0-1.558-.775-3.232-1.958-4.505C12.602 13.965 10.915 13 9 13m8.204.301a.75.75 0 0 0-.408 1.444c.933.264 1.801 1.019 2.45 2.014c.647.995 1.004 2.122 1.004 2.99a.75.75 0 0 0 1.5 0c0-1.22-.478-2.627-1.248-3.808c-.769-1.181-1.9-2.244-3.298-2.64M9 3.5A3.75 3.75 0 1 0 9 11a3.75 3.75 0 0 0 0-7.5m6 0a.75.75 0 0 0-.75.75v6c0 .414.336.75.75.75a3.75 3.75 0 1 0 0-7.5" />
              </svg>
            </span>
            <span
              class="truncate hs-overlay-minified:opacity-0 transition-all duration-500 ease-out opacity-100 group-hover:translate-x-1">Usuarios</span>
          </a>
        </li>
        <li>
          <a routerLink="/administracion/gestion-tareas" routerLinkActive="active"
            class="group relative w-full flex items-center gap-3 pl-8 hs-overlay-minified:pl-2.5 py-2 px-2 outfit-2 text-[#9897C9] rounded-lg before:absolute before:top-1/2 before:-start-2.5 before:rounded-e-full before:w-[4px] before:h-6 before:-translate-y-1/2 before:bg-[#5956e9] before:opacity-0 before:transition-all before:duration-300 hover:before:opacity-100 transition-all duration-300 ease-out hover:translate-x-1 hover:bg-[#f9f9fe]">
            <span
              class="-ms-[5px] flex shrink-0 justify-center items-center size-5 transition-all duration-300 group-hover:scale-110 group-hover:text-[#5956e9]">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="-2 -2 24 24">
                <path fill="currentColor"
                  d="M6 0h8a6 6 0 0 1 6 6v8a6 6 0 0 1-6 6H6a6 6 0 0 1-6-6V6a6 6 0 0 1 6-6m6 9a1 1 0 0 0 0 2h3a1 1 0 1 0 0-2zm-2 4a1 1 0 0 0 0 2h5a1 1 0 1 0 0-2zm0-8a1 1 0 1 0 0 2h5a1 1 0 0 0 0-2zm-4.172 5.243l-.707-.707a1 1 0 1 0-1.414 1.414l1.414 1.414a1 1 0 0 0 1.415 0l2.828-2.828A1 1 0 0 0 7.95 8.12l-2.122 2.122z" />
              </svg>
            </span>
            <span
              class="truncate hs-overlay-minified:opacity-0 transition-all duration-500 ease-out opacity-100 group-hover:translate-x-1">Tareas</span>
          </a>
        </li>
        <li>
          <a routerLink="/administracion/gestion-escuelas" routerLinkActive="active"
            class="group relative w-full flex items-center gap-3 pl-8 hs-overlay-minified:pl-2.5 py-2 px-2 outfit-2 text-[#9897C9] rounded-lg before:absolute before:top-1/2 before:-start-2.5 before:rounded-e-full before:w-[4px] before:h-6 before:-translate-y-1/2 before:bg-[#5956e9] before:opacity-0 before:transition-all before:duration-300 hover:before:opacity-100 transition-all duration-300 ease-out hover:translate-x-1 hover:bg-[#f9f9fe]">
            <span
              class="-ms-[5px] flex shrink-0 justify-center items-center size-5 transition-all duration-300 group-hover:scale-110 group-hover:text-[#5956e9]">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="currentColor" fill-rule="evenodd"
                  d="M13.463 21.674a3.45 3.45 0 0 1-2.926 0C6.553 19.812 4 14.606 4 10.144C4 5.645 7.582 2 12 2s8 3.646 8 8.143c0 4.462-2.553 9.67-6.537 11.531M10.967 5.932a3.03 3.03 0 0 1 2.066 0l2.342.855c.541.198.875.68.875 1.213s-.334 1.015-.875 1.213l-.125.045V11.7c0 .673-.394 1.329-1.08 1.582c-.526.194-1.391.468-2.17.468s-1.644-.274-2.17-.468c-.686-.253-1.08-.909-1.08-1.582V9.258l-.125-.045C8.084 9.015 7.75 8.533 7.75 8s.334-1.015.875-1.213z"
                  clip-rule="evenodd" />
                <path fill="currentColor" fill-rule="evenodd"
                  d="M11.481 7.34a1.53 1.53 0 0 1 1.038 0l1.804.66l-1.804.66a1.53 1.53 0 0 1-1.038 0L9.677 8z"
                  clip-rule="evenodd" />
                <path fill="currentColor"
                  d="M10.25 11.7V9.806l.717.262a3.03 3.03 0 0 0 2.066 0l.717-.262V11.7c0 .105-.057.159-.1.175c-.501.185-1.154.375-1.65.375s-1.149-.19-1.65-.375c-.043-.016-.1-.07-.1-.175" />
              </svg>
            </span>
            <span
              class="truncate hs-overlay-minified:opacity-0 transition-all duration-500 ease-out opacity-100 group-hover:translate-x-1">Escuelas</span>
          </a>
        </li>

        }
        @if (currentUser()?.rol === 'Empleado') {

        <li>
          <a routerLink="/administracion/mis-tareas" routerLinkActive="active"
            class="group relative w-full flex items-center gap-3 pl-8 hs-overlay-minified:pl-2.5 py-2 px-2 outfit-2 text-[#9897C9] rounded-lg before:absolute before:top-1/2 before:-start-2.5 before:rounded-e-full before:w-[4px] before:h-6 before:-translate-y-1/2 before:bg-[#5956e9] before:opacity-0 before:transition-opacity before:duration-300 hover:before:opacity-100">
            <span class="-ms-[5px] flex shrink-0 justify-center items-center size-5">

              <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
                color="#000000" fill="none">
                <path d="M11 6L21 6" stroke="#141B34" stroke-width="1.5" stroke-linecap="round" />
                <path d="M11 12L21 12" stroke="#141B34" stroke-width="1.5" stroke-linecap="round" />
                <path d="M11 18L21 18" stroke="#141B34" stroke-width="1.5" stroke-linecap="round" />
                <path d="M3 7.39286C3 7.39286 4 8.04466 4.5 9C4.5 9 6 5.25 8 4" stroke="#141B34" stroke-width="1.5"
                  stroke-linecap="round" stroke-linejoin="round" />
                <path d="M3 18.3929C3 18.3929 4 19.0447 4.5 20C4.5 20 6 16.25 8 15" stroke="#141B34" stroke-width="1.5"
                  stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </span>
            <span class="truncate hs-overlay-minified:opacity-0 transition-opacity duration-300">Mis Tareas</span>
          </a>
        </li>
        }
        @if (currentUser()?.rol === 'RTE') {

        <li>
          <a routerLink="/administracion/calendario" routerLinkActive="active"
            class="group relative w-full flex items-center gap-3 pl-8 hs-overlay-minified:pl-2.5 py-2 px-2 outfit-2 text-[#9897C9] rounded-lg before:absolute before:top-1/2 before:-start-2.5 before:rounded-e-full before:w-[4px] before:h-6 before:-translate-y-1/2 before:bg-[#5956e9] before:opacity-0 before:transition-opacity before:duration-300 hover:before:opacity-100">
            <span class="-ms-[5px] flex shrink-0 justify-center items-center size-5">
              <svg class="size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect width="18" height="18" x="3" y="4" rx="2" ry="2"/><line x1="16" x2="16" y1="2" y2="6"/><line x1="8" x2="8" y1="2" y2="6"/><line x1="3" x2="21" y1="10" y2="10"/><path d="M8 14h.01"/><path d="M12 14h.01"/><path d="M16 14h.01"/><path d="M8 18h.01"/><path d="M12 18h.01"/><path d="M16 18h.01"/></svg>
            </span>
            <span class="truncate hs-overlay-minified:opacity-0 transition-opacity duration-300">Calendario</span>
          </a>
        </li>
        }
      </ul>
      <!-- End List -->
    </div>
  </div>
</div>
<!-- End Sidebar -->

<!-- ========== MAIN CONTENT ========== -->
<main class="md:ps-65 md:hs-overlay-minified:ps-13 transition-all duration-300 h-screen flex flex-col bg-white">

  <!-- ========== HEADER ==========  -->
  <header
    class="md:ms-65 xl:hs-overlay-layout-open:me-96 md:hs-overlay-minified:ms-13 transition-all duration-300 fixed top-0 inset-x-0 flex flex-wrap md:justify-start md:flex-nowrap z-48 md:z-61 bg-white py-2.5">
    <nav class="px-4 sm:px-5.5 flex basis-full justify-between items-center w-full mx-auto">
      <!-- Button Group -->
      <div class="flex items-center sm:gap-x-1.5 truncate">
        <!-- Sidebar Toggle -->
        <button type="button"
          class="md:hidden flex justify-center items-center flex-none gap-x-3 size-9 text-sm text-gray-500 rounded-lg hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-gray-100"
          aria-haspopup="dialog" aria-expanded="true" aria-controls="hs-pro-sidebar" aria-label="Minify navigation"
          data-hs-overlay="#hs-pro-sidebar">
          <svg class="w-5 h-5 transition-transform duration-300 hover:rotate-180" xmlns="http://www.w3.org/2000/svg"
            width="24" height="24" viewBox="0 0 24 24">
            <g fill="currentColor">
              <path d="M13 21h6a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2h-6z" />
              <path fill-rule="evenodd"
                d="M11 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h6zm-2.293 7.707a1 1 0 0 0-1.414-1.414l-2 2a1 1 0 0 0 0 1.414l2 2a1 1 0 0 0 1.414-1.414L7.414 12z"
                clip-rule="evenodd" />
            </g>
          </svg>
          <span class="sr-only">Sidebar Toggle</span>
        </button>
        <!-- End Sidebar Toggle -->

      </div>
      <!-- End Button Group -->


      @if(currentUser()){
      <!-- Mostrar -->
      <!-- Button Group -->
      <div class="flex items-center sm:gap-x-1.5">
        <div class="h-10">
          <!-- Account Dropdown -->
          <div
            class="hs-dropdown inline-flex [--strategy:absolute] [--auto-close:inside] [--placement:bottom-right] relative text-start">
            <button id="hs-dnad" type="button"
              class="hs-dropdown-toggle group inline-flex items-center gap-x-3 text-sm font-medium rounded-xl px-1 py-1 bg-white text-[#2d2c63] focus:outline-none cursor-pointer transition-all duration-300 ease-out h-10 shadow-2xs">
              <!-- Avatar / Iniciales -->
              <div
                class="size-10 rounded-xl bg-[#5956e9] flex items-center justify-center text-white font-semibold overflow-hidden">

                @if (currentUser()?.perfil) {
                <img [src]="currentUser()?.perfil" [alt]="currentUser()?.nombre" class="w-full h-full object-cover" />
                } @else {
                <span>
                  {{ (currentUser()?.nombre?.[0] || '') + (currentUser()?.apellido?.[0] || '') }}
                </span>
                }
              </div>

              <!-- Nombre y Rol -->
              <div class="hidden sm:block">
                <p class="text-sm font-medium text-[#2d2c63] font_outfit">
                  {{ currentUser()?.nombre }} {{ currentUser()?.apellido }}
                </p>
              </div>

              <!-- Icono v con animación mejorada -->
              <div class="relative">
                <svg
                  class="hs-dropdown-open:rotate-180 size-4 transition-transform duration-500 ease-out text-[#9291aa] group-hover:text-[#524380] group-hover:scale-110"
                  xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
                  <path d="m6 9 6 6 6-6" class="transition-all duration-300" />
                </svg>
                <!-- Efecto de brillo sutil -->
                <div
                  class="absolute inset-0 bg-gradient-to-r from-transparent via-white/20 to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300 rounded-full">
                </div>
              </div>
            </button>

            <!-- Account Dropdown -->
            <div class="hs-dropdown-menu hs-dropdown-open:opacity-100 hs-dropdown-open:scale-100 w-72  duration-300 opacity-0 hidden z-20 bg-white rounded-3xl shadow-[0_8px_25px_rgba(0,0,0,0.04)]
          shadow-[#e2e3fa] " role="menu" aria-orientation="vertical" aria-labelledby="hs-dnad">

              <!-- Header con gradiente sutil -->
              <div class="flex items-center gap-4 py-5 px-4 border-b border-[#f0f1f8]">
                @if (currentUser()?.perfil) {
                <!-- Tiene foto -->
                <img [src]="currentUser()?.perfil" [alt]="currentUser()?.nombre"
                  class="size-14 rounded-xl object-cover">
                } @else {
                <!-- Sin foto: mostrar iniciales -->
                <div class="size-14 bg-[#5956e9] rounded-xl flex items-center justify-center text-white font-semibold">
                  {{ (currentUser()?.nombre?.[0] || '') + (currentUser()?.apellido?.[0] || '') }}
                </div>
                }

                <div>
                  <p class="outfit-2 text-[#9291aa] font_outfit">Sesión iniciada como</p>
                  <p class="text-sm font-[450] text-[#4e3e76] font_outfit leading-tight mt-1">
                    {{ currentUser()?.nombre }} {{ currentUser()?.apellido }}
                  </p>

                  <p
                    class="outfit-2 font-medium text-[#524380] font_outfit mt-1 px-2 py-0.5 border border-[#e2e3fa] rounded-lg bg-gradient-to-r from-[#f9f9fe] to-[#f0f1f8] inline-block">
                    {{ currentUser()?.rol }}
                  </p>
                </div>
              </div>


              <div class="p-2">
                <!-- Opción de Tema -->
                <div
                  class="flex items-center justify-between gap-x-3 py-2 px-3 rounded-lg text-sm text-[#8276a2] hover:bg-gray-50 focus:outline-hidden focus:bg-gray-50 font_outfit cursor-pointer">
                  <div class="flex items-center gap-x-3 flex-1">
                    <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                      height="24" fill="none">

                      <path
                        d="M22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C12.8417 22 14 22.1163 14 21C14 20.391 13.6832 19.9212 13.3686 19.4544C12.9082 18.7715 12.4523 18.0953 13 17C13.6667 15.6667 14.7778 15.6667 16.4815 15.6667C17.3334 15.6667 18.3334 15.6667 19.5 15.5C21.601 15.1999 22 13.9084 22 12Z"
                        stroke="currentColor" stroke-width="1.5"></path>
                      <path d="M7 15.002L7.00868 14.9996" stroke="currentColor" stroke-width="1.5"
                        stroke-linecap="round" stroke-linejoin="round"></path>
                      <circle cx="9.5" cy="8.5" r="1.5" stroke="currentColor" stroke-width="1.5"></circle>
                      <circle cx="16.5" cy="9.5" r="1.5" stroke="currentColor" stroke-width="1.5"></circle>

                    </svg>
                    <span class="font_outfit">Tema</span>
                  </div>
                  <div class="p-0.5 inline-flex cursor-pointer bg-[#e6e7f0] rounded-full shadow-inner">
                    <button type="button"
                      class="size-6 flex justify-center items-center rounded-full shadow-sm transition-all duration-200 ease-out hover:scale-105 hs-dark-mode-active:bg-[#e6e7f0] hs-dark-mode-active:text-[#9291aa] hs-light-mode-active:bg-[#5956e9] hs-light-mode-active:text-white"
                      data-hs-theme-click-value="light">
                      <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <circle cx="12" cy="12" r="4" />
                        <path d="M12 3v1" />
                        <path d="M12 20v1" />
                        <path d="M3 12h1" />
                        <path d="M20 12h1" />
                        <path d="m18.364 5.636-.707.707" />
                        <path d="m6.343 17.657-.707.707" />
                        <path d="m5.636 5.636.707.707" />
                        <path d="m17.657 17.657.707.707" />
                      </svg>
                      <span class="sr-only font_outfit">Light</span>
                    </button>
                    <div class="w-1"></div>
                    <button type="button"
                      class="size-6 flex justify-center items-center rounded-full transition-all duration-200 ease-out hover:scale-105 hs-light-mode-active:bg-[#e6e7f0] hs-light-mode-active:text-[#9291aa] hs-dark-mode-active:bg-[#292929] hs-dark-mode-active:text-white"
                      data-hs-theme-click-value="dark">
                      <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z" />
                      </svg>
                      <span class="sr-only font_outfit">Dark</span>
                    </button>
                  </div>
                </div>

                <!-- Mi Perfil -->
                <a routerLink="/administracion/mi-perfil"
                  class="flex items-center gap-x-3 py-2 px-3 rounded-lg text-sm text-[#8276a2] hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-gray-50 font_outfit">
                  <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2" />
                    <circle cx="12" cy="7" r="4" />
                  </svg>
                  Mi Perfil
                </a>

                <!-- Cerrar sesión -->
                <a (click)="logOut()"
                  class="flex items-center gap-x-3 py-2 px-3 rounded-lg text-sm text-[#8276a2] hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-gray-50 font_outfit cursor-pointer">
                  <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path d="m16 17 5-5-5-5" />
                    <path d="M21 12H9" />
                    <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" />
                  </svg>
                  Cerrar sesion
                </a>
              </div>

              <!-- Footer sutil -->
              <div class="px-4 py-2 bg-[#6985fd] rounded-b-2xl">
                <p class="outfit-2 text-white text-center font_outfit">EduTask v1.0</p>
              </div>
            </div>
            <!-- End Account Dropdown -->
          </div>
          <!-- End Account Dropdown -->
        </div>
      </div>
      <!-- End Button Group -->
      }

    </nav>
  </header>
  <!-- ========== END HEADER ========== -->
  <!-- BODY DINÁMICO -->
  <section class="flex-1 pt-14 px-4 sm:px-6 lg:px-8 overflow-y-auto bg-[#fbfcfd]">
    <router-outlet />
  </section>
  <!-- END BODY -->
</main>
<!-- ========== END MAIN CONTENT ========== -->
